<div class="pcc-pull-right">
    <button class="pcc-icon pcc-icon-list" title="<%= data.annotationOptions %>" data-pcc-toggle="context-menu-options"></button>
    <button class="pcc-icon pcc-icon-updown" title="<%= data.moveContext %>" data-pcc-move-context-menu></button>
</div>
<div class="pcc-pull-left" data-pcc-toggle-id="context-menu-options"<% if (data.menuOptions.collapseLeftSide === true) { %> style="width:auto"<% } %>>

    <div class="pcc-tabset">

        <% if (data.menuOptions.showTabArea === true) { %>
        <div class="pcc-tabs">

            <% if (data.menuOptions.showMainTab) { %>
            <div class="pcc-active" data-pcc-toggle="context-menu-tab1" title="<%= data.fillColorMenuItem %>">
                <% if (data.mark.getType() === 'EllipseAnnotation') { %>
                <span class="pcc-icon pcc-icon-annotate-ellipse-filled"></span>

                <% } else if (data.mark.getType().search('Stamp') !== -1) { %>
                <span class="pcc-icon pcc-icon-annotate-stamp"></span>

                <% } else if (data.mark.getType() === 'LineAnnotation' && data.mark.getEndHeadType() === 'None') { %>
                <span class="pcc-icon pcc-icon-annotate-line"></span>

                <% } else if (data.mark.getType() === 'LineAnnotation' && data.mark.getEndHeadType() === 'FilledTriangle') { %>
                <span class="pcc-icon pcc-icon-annotate-arrow"></span>

                <% } else if (data.mark.getType() === 'TextSelectionRedaction') { %>
                <span class="pcc-icon pcc-icon-redact-textselection"></span>

                <% } else { %>
                <span class="pcc-icon pcc-icon-annotate-rectangle-filled"></span>
                <% } %>
            </div>
            <% } %>

            <% if (data.menuOptions.showBorderColorTab === true) { %>
            <div data-pcc-toggle="context-menu-tab2" title="<%= data.borderColorMenuItem %>">
                <% if (data.mark.getType() === 'EllipseAnnotation') { %>
                <span class="pcc-icon pcc-icon-annotate-ellipse"></span>
                <% } else { %>
                <span class="pcc-icon pcc-icon-annotate-rectangle"></span>
                <% } %>
            </div>
            <% } %>

            <% if (data.menuOptions.showFontTab === true) { %>
            <div data-pcc-toggle="context-menu-tab3" title="<%= data.fontMenuItem %>"
                 <% if (data.menuOptions.activateFontTab === true) { %> class="pcc-active"<% } %>>
                 <span class="pcc-icon pcc-icon-annotate-text"></span>
            </div>
            <% } %>

            <% if (data.menuOptions.showLayerTab === true) { %>
            <div data-pcc-toggle="context-menu-tab4" title="<%= data.layerOrder %>"
                 <% if (data.menuOptions.activateLayerTab === true) { %> class="pcc-active"<% } %>>
                 <span class="pcc-icon pcc-icon-layer-front"></span>
            </div>
            <% } %>

            <% if (data.menuOptions.showESignTab === true) { %>
            <div data-pcc-toggle="context-menu-tab5" class="pcc-active" title="<%= data.currentSignature %>">
                <span class="pcc-icon pcc-icon-esign"></span>
            </div>
            <% } %>

            <% if (data.menuOptions.showLinkTab === true) { %>
            <div data-pcc-toggle="context-menu-tab6" class="pcc-active">
                <span class="pcc-icon pcc-icon-link"></span>
            </div>
            <% } %>

            <% if (data.menuOptions.showImageTab === true) { %>
            <div data-pcc-toggle="context-menu-tab7" class="pcc-active">
                <span class="pcc-icon pcc-icon-image-stamp"></span>
            </div>
            <% } %>

            <% if (data.menuOptions.showLinkStylesTab === true) { %>
            <div data-pcc-toggle="context-menu-tab1">
                <span class="pcc-icon pcc-icon-annotate-rectangle-filled"></span>
            </div>
            <% } %>
        </div>
        <% } %>

        <% if (data.showAllEditControls) { %>
            <div class="pcc-pull-right">
                <button data-pcc-delete-mark class="pcc-icon pcc-icon-delete" title="<%= data.deleteMarks %>"></button></br>
                <button data-pcc-add-comment-context-menu class="pcc-icon pcc-icon-comment" title="<%= data.addComment %>"></button>
            </div>
        <% } %>

        <% if(data.menuOptions.showTabArea) { %>
        <div data-pcc-toggle-id="context-menu-tab1"
             class="pcc-tab-content<% if (data.menuOptions.activateMainTab === true) {%> pcc-open<% } %>">

            <% if (data.mark.getColor || data.mark.getFillColor) { %>
            <div class="pcc-select pcc-select-color" data-pcc-fill-color data-pcc-toggle="dropdown-fill-color" title="<%= data.fillColorMenuItem %>">
                <div class="pcc-label">
                    <% if (data.mark.getColor) { %>
                    <div class="pcc-swatch" style="background:<%- data.mark.getColor() %>"></div>
                    <% } else if (data.mark.getFillColor) { %>
                    <div class="pcc-swatch<%= (data.mark.getFillColor() === 'transparent') ? ' pcc-transparent-effect' : '' %>" <%= (data.mark.getFillColor() === 'transparent') ? '' : 'style="background:' + data.mark.getFillColor() +'"'%>></div>
                    <% } %>
                </div>
                <div class="pcc-arrow-down"></div>
                <div data-pcc-toggle-id="dropdown-fill-color" class="pcc-dropdown">
                    <div style="background:#ff0000"></div>
                    <div style="background:#ffff00"></div>
                    <div style="background:#f7941d"></div>
                    <div style="background:#00ff00"></div>
                    <div style="background:#00ffff"></div>
                    <div style="background:#ff00ff"></div>
                    <div style="background:#6666ff"></div>
                    <div style="background:#cccccc"></div>
                    <div style="background:#ffffff"></div>
                    <div style="background:#cc0000"></div>
                    <div style="background:#999900"></div>
                    <div style="background:#a3620a"></div>
                    <div style="background:#00a651"></div>
                    <div style="background:#0000ff"></div>
                    <div style="background:#92278f"></div>
                    <div style="background:#3333cc"></div>
                    <div style="background:#888888"></div>
                    <div style="background:#000000"></div>
                    <% if (data.menuOptions.showTransparentFillColor) { %>
                        <div data-pcc-color-key="transparent" class="pcc-transparent-effect"></div>
                    <% } %>
                </div>
            </div>
            <% } %>

            <% if (data.mark.getOpacity) { %>
            <div class="pcc-select pcc-select-opacity" data-pcc-fill-opacity data-pcc-toggle="dropdown-fill-opacity" title="<%= data.fillOpacityMenuItem %>">
                <div class="pcc-icon pcc-icon-opacity"></div>
                <div class="pcc-label"><%= Math.round(parseInt(data.mark.getOpacity() / 2.55, 10) / 10) * 10 %>%</div>
                <div class="pcc-arrow-down"></div>
                <div data-pcc-toggle-id="dropdown-fill-opacity" class="pcc-dropdown">
                    <div><span class="pcc-option pcc-option0"></span> <%= data.opacityOptions.item0 %></div>
                    <div><span class="pcc-option pcc-option10"></span> <%= data.opacityOptions.item1 %></div>
                    <div><span class="pcc-option pcc-option20"></span> <%= data.opacityOptions.item2 %></div>
                    <div><span class="pcc-option pcc-option30"></span> <%= data.opacityOptions.item3 %></div>
                    <div><span class="pcc-option pcc-option40"></span> <%= data.opacityOptions.item4 %></div>
                    <div><span class="pcc-option pcc-option50"></span> <%= data.opacityOptions.item5 %></div>
                    <div><span class="pcc-option pcc-option60"></span> <%= data.opacityOptions.item6 %></div>
                    <div><span class="pcc-option pcc-option70"></span> <%= data.opacityOptions.item7 %></div>
                    <div><span class="pcc-option pcc-option80"></span> <%= data.opacityOptions.item8 %></div>
                    <div><span class="pcc-option pcc-option90"></span> <%= data.opacityOptions.item9 %></div>
                    <div><span class="pcc-option pcc-option100"></span> <%= data.opacityOptions.item10 %></div>
                </div>
            </div>
            <% } %>

            <% if (data.mark.getThickness) { %>
            <div class="pcc-select pcc-select-border" data-pcc-border-width data-pcc-toggle="dropdown-border" title="<%= data.borderWidth %>">
                <div class="pcc-icon pcc-icon-border-width"></div>
                <div class="pcc-label"><%= data.mark.getThickness() %></div>
                <div class="pcc-arrow-down"></div>
                <div data-pcc-toggle-id="dropdown-border" class="pcc-dropdown">
                    <div><span class="pcc-option pcc-option1"></span> <%= data.borderWidthOptions.item1 %></div>
                    <div><span class="pcc-option pcc-option2"></span> <%= data.borderWidthOptions.item2 %></div>
                    <div><span class="pcc-option pcc-option3"></span> <%= data.borderWidthOptions.item3 %></div>
                    <div><span class="pcc-option pcc-option4"></span> <%= data.borderWidthOptions.item4 %></div>
                    <div><span class="pcc-option pcc-option5"></span> <%= data.borderWidthOptions.item5 %></div>
                    <div><span class="pcc-option pcc-option6"></span> <%= data.borderWidthOptions.item6 %></div>
                    <div><span class="pcc-option pcc-option7"></span> <%= data.borderWidthOptions.item7 %></div>
                    <div><span class="pcc-option pcc-option8"></span> <%= data.borderWidthOptions.item8 %></div>
                </div>
            </div>
            <% } %>

            <% if (data.mark.getLabel) { %>
            <div class="pcc-select pcc-select-stamp-label" data-pcc-stamp-label data-pcc-toggle="dropdown-stamp-label" title="<%= data.selectLabel %>">
                <div class="pcc-label"><%- data.mark.getLabel() %></div>
                <div class="pcc-arrow-down"></div>
                <div data-pcc-toggle-id="dropdown-stamp-label" class="pcc-dropdown">
                    <div><%= data.stampLabelApproved %></div>
                    <div><%= data.stampLabelReviewed %></div>
                    <div><%= data.stampLabelRejected %></div>
                </div>
            </div>
            <% } %>

            <% if ((data.mark.getReason || data.mark.getReasons) && data.reasons.enableRedactionReasonSelection) { %>
                <div class="pcc-select <%= (data.menuOptions.enableMultipleRedactionReasons) ? 'pcc-multiselect' : ''%> pcc-select-redaction-reason" data-pcc-redaction-reason data-pcc-toggle="dropdown-stamp-label" title="<%= data.selectLabel %>">
                    <div class="pcc-label"><%= data.menuOptions.redactionReasonLabel %></div>
                    <div class="pcc-arrow-down"></div>
                    <div data-pcc-toggle-id="dropdown-stamp-label" class="pcc-dropdown">
                        <% _.each(data.reasons.reasons, function(reason, index) { %>
                            <% if (reason.selectable) { %>
                            <div data-pcc-checkbox="redaction-reasons" class="pcc-checkbox <%= reason.checked ? 'pcc-checked' : '' %> <%= (index % 2 === 0) ? 'even' : 'odd' %>" title="<%= reason.reason %><%= (reason.description) ? ': ' + reason.description : '' %>">
                                <% if (data.menuOptions.enableMultipleRedactionReasons) { %>
                                <span class="pcc-icon pcc-icon-check"></span>
                                <% } %>
                                <span><em class="pcc-select-multiple-redaction-reason"><%= reason.reason %></em><% if (reason.description) { %>: <span class="pcc-select-multiple-redaction-description"><%= reason.description %></span><% } %></span>
                            </div>
                            <% } else { %>
                            <div class="<%= reason.class %>  <%= (index % 2 === 0) ? 'even' : 'odd' %>" title="<%= reason.reason %>"><span><%= reason.reason %></span></div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
                <% if (data.menuOptions.enableCustomRedactionReason) { %>
                <!-- Set value using the template specifier that escapes HTML to prevent breaking out of attribute value unexpectedly (see https://underscorejs.org/#template) -->
                <input type="text" data-pcc-redaction-reason-input value="<%- data.customRedactionReason%>">
                <% } %>
            <% } %>
        </div>

        <div data-pcc-toggle-id="context-menu-tab2" class="pcc-tab-content">
            <div class="pcc-select pcc-select-color" data-pcc-border-color data-pcc-toggle="dropdown-border-color" title="<%= data.borderColorMenuItem %>">
                <div class="pcc-label">
                    <div class="pcc-swatch<%= (data.mark.getBorderColor && data.mark.getBorderColor() === 'transparent') ? ' pcc-transparent-effect' : '' %>" <%= (data.mark.getBorderColor && data.mark.getBorderColor() !== 'transparent') ? 'style="background:' + data.mark.getBorderColor() +'"' : '' %>></div>
                </div>
                <div class="pcc-arrow-down"></div>
                <div data-pcc-toggle-id="dropdown-border-color" class="pcc-dropdown">
                    <div style="background:#ff0000"></div>
                    <div style="background:#ffff00"></div>
                    <div style="background:#f7941d"></div>
                    <div style="background:#00ff00"></div>
                    <div style="background:#00ffff"></div>
                    <div style="background:#ff00ff"></div>
                    <div style="background:#6666ff"></div>
                    <div style="background:#cccccc"></div>
                    <div style="background:#ffffff"></div>
                    <div style="background:#cc0000"></div>
                    <div style="background:#999900"></div>
                    <div style="background:#a3620a"></div>
                    <div style="background:#00a651"></div>
                    <div style="background:#0000ff"></div>
                    <div style="background:#92278f"></div>
                    <div style="background:#3333cc"></div>
                    <div style="background:#888888"></div>
                    <div style="background:#000000"></div>
                    <% if (data.menuOptions.showTransparentBorderColor) { %>
                    <div data-pcc-color-key="transparent" class="pcc-transparent-effect"></div>
                    <% } %>
                </div>
            </div>

            <div class="pcc-select pcc-select-border" data-pcc-border-width data-pcc-toggle="dropdown-border" title="<%= data.borderWidth %>">
                <div class="pcc-icon pcc-icon-border-width"></div>
                <div class="pcc-label"><%- data.mark.getBorderThickness ? data.mark.getBorderThickness() : '' %></div>
                <div class="pcc-arrow-down"></div>
                <div data-pcc-toggle-id="dropdown-border" class="pcc-dropdown">
                    <div><span class="pcc-option pcc-option1"></span> <%= data.borderWidthOptions.item1 %></div>
                    <div><span class="pcc-option pcc-option2"></span> <%= data.borderWidthOptions.item2 %></div>
                    <div><span class="pcc-option pcc-option3"></span> <%= data.borderWidthOptions.item3 %></div>
                    <div><span class="pcc-option pcc-option4"></span> <%= data.borderWidthOptions.item4 %></div>
                    <div><span class="pcc-option pcc-option5"></span> <%= data.borderWidthOptions.item5 %></div>
                    <div><span class="pcc-option pcc-option6"></span> <%= data.borderWidthOptions.item6 %></div>
                    <div><span class="pcc-option pcc-option7"></span> <%= data.borderWidthOptions.item7 %></div>
                    <div><span class="pcc-option pcc-option8"></span> <%= data.borderWidthOptions.item8 %></div>
                </div>
            </div>
        </div>

        <div data-pcc-toggle-id="context-menu-tab3"
             class="pcc-tab-content<% if (data.menuOptions.activateFontTab) { %> pcc-open<% } %>">

            <% if (data.mark.getFontStyle && data.mark.getType() !== 'TextRedaction') { %>
            <div class="pcc-row">
                <button class="pcc-icon pcc-icon-text-bold<%= _.indexOf(data.mark.getFontStyle(), 'Bold') !== -1 ? ' pcc-active' : '' %>"
                        data-pcc-font-style="Bold" title="<%= data.fontBoldText %>"></button>

                <button class="pcc-icon pcc-icon-text-italic<%= _.indexOf(data.mark.getFontStyle(), 'Italic') !== -1 ? ' pcc-active' : '' %>"
                        data-pcc-font-style="Italic" title="<%= data.fontItalic %>"></button>

                <button class="pcc-icon pcc-icon-text-underline<%= _.indexOf(data.mark.getFontStyle(), 'Underline') !== -1 ? ' pcc-active' : '' %>"
                        data-pcc-font-style="Underline" title="<%= data.fontUnderline %>"></button>

                <button class="pcc-icon pcc-icon-text-strikeout<%= _.indexOf(data.mark.getFontStyle(), 'Strikeout') !== -1 ? ' pcc-active' : '' %>"
                        data-pcc-font-style="Strikeout" title="<%= data.fontStrikeout %>"></button>

                <% if (data.mark.getHorizontalAlignment) { %>
                <button class="pcc-icon pcc-icon-text-<%= data.mark.getHorizontalAlignment().toLowerCase() %>"
                        data-pcc-font-align title="<%= data.paragraphAlignTitle %>"></button>
                <% } %>
            </div>
            <% } %>
            <div class="pcc-row">

                <% if (data.mark.getFontColor) { %>
                <div class="pcc-select pcc-select-color" data-pcc-font-color data-pcc-toggle="dropdown-font-color" title="<%= data.fontColorMenuItem %>">
                    <div class="pcc-label">
                        <div class="pcc-swatch" style="background:<%= data.mark.getFontColor ? data.mark.getFontColor() : '' %>"></div>
                    </div>
                    <div class="pcc-arrow-down"></div>
                    <div data-pcc-toggle-id="dropdown-font-color" class="pcc-dropdown">
                        <div style="background:#ff0000"></div>
                        <div style="background:#ffff00"></div>
                        <div style="background:#f7941d"></div>
                        <div style="background:#00ff00"></div>
                        <div style="background:#00ffff"></div>
                        <div style="background:#ff00ff"></div>
                        <div style="background:#6666ff"></div>
                        <div style="background:#cccccc"></div>
                        <div style="background:#ffffff"></div>
                        <div style="background:#cc0000"></div>
                        <div style="background:#999900"></div>
                        <div style="background:#a3620a"></div>
                        <div style="background:#00a651"></div>
                        <div style="background:#0000ff"></div>
                        <div style="background:#92278f"></div>
                        <div style="background:#3333cc"></div>
                        <div style="background:#888888"></div>
                        <div style="background:#000000"></div>
                    </div>
                </div>
                <% } %>

                <% if (data.mark.getType() !== 'RectangleRedaction') { %>
                    <div class="pcc-select pcc-select-font" data-pcc-font-name data-pcc-toggle="dropdown-font" title="<%= data.selectFont %>">
                        <div class="pcc-label"><%- data.mark.getFontName ? data.mark.getFontName() : '' %></div>
                        <div class="pcc-arrow-down"></div>
                        <div data-pcc-toggle-id="dropdown-font" class="pcc-dropdown">
                            <div><%= data.fontArial %></div>
                            <div><%= data.fontComicSans %></div>
                            <div><%= data.fontCourier %></div>
                            <div><%= data.fontCourierNew %></div>
                            <div><%= data.fontGeneva %></div>
                            <div><%= data.fontGeorgia %></div>
                            <div><%= data.fontHelvetica %></div>
                            <div><%= data.fontTimes %></div>
                            <div><%= data.fontTimesNewRoman %></div>
                            <div><%= data.fontVerdana %></div>
                        </div>
                    </div>

                    <div class="pcc-select pcc-select-font-size" data-pcc-font-size data-pcc-toggle="dropdown-font-size" title="<%= data.fontSize %>">
                        <div class="pcc-label"><%- data.mark.getFontSize ? data.mark.getFontSize() : '' %></div>
                        <div class="pcc-arrow-down"></div>
                        <div data-pcc-toggle-id="dropdown-font-size" class="pcc-dropdown">
                            <div>8</div>
                            <div>9</div>
                            <div>10</div>
                            <div>11</div>
                            <div>12</div>
                            <div>14</div>
                            <div>16</div>
                            <div>20</div>
                            <div>22</div>
                            <div>24</div>
                            <div>26</div>
                            <div>28</div>
                            <div>36</div>
                            <div>48</div>
                            <div>72</div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

        <div data-pcc-toggle-id="context-menu-tab4"
             class="pcc-tab-content<% if (data.menuOptions.activateLayerTab === true) { %> pcc-open<% } %>">

            <button data-pcc-move-mark="ToFront" class="pcc-icon pcc-icon-layer-front" title="<%= data.moveToFrontMenuItem %>"></button>
            <button data-pcc-move-mark="Forward" class="pcc-icon pcc-icon-layer-forward" title="<%= data.moveForwardMenuItem %>"></button>
            <button data-pcc-move-mark="Backward" class="pcc-icon pcc-icon-layer-backward" title="<%= data.moveBackwardMenuItem %>"></button>
            <button data-pcc-move-mark="ToBack" class="pcc-icon pcc-icon-layer-back" title="<%= data.moveToBackMenuItem %>"></button>
        </div>

        <div data-pcc-toggle-id="context-menu-tab5" class="pcc-tab-content<% if (data.menuOptions.activateESignTab) { %> pcc-open<% } %>">
            <div data-pcc-esign-preview></div>
        </div>

        <div data-pcc-toggle-id="context-menu-tab6" class="pcc-tab-content<% if (data.menuOptions.activateLinkTab) { %> pcc-open<% } %>">
                <div class='pcc-hyperlink-header'>
                        <!-- Set href using the template specifier that escapes HTML to prevent breaking out of attribute value unexpectedly (see https://underscorejs.org/#template) -->                    
                        <a href="<%- data.menuOptions.linkText %>" target="_blank" data-pcc-link-navigate>
                            <span class="pcc-icon pcc-icon-external-link" title="<%= data.hyperlinkNavigate %>"></span>
                        </a>
                        <label class="pcc-hyperlink-label"><%= data.hyperlink %></label>
                </div>
                <input type="text" data-pcc-link-input>
        </div>

        <div data-pcc-toggle-id="context-menu-tab7" class="pcc-tab-content<% if (data.menuOptions.activateImageTab) { %> pcc-open<% } %>">
            <img src="<%= data.menuOptions.currentImage %>" alt="Image Stamp Preview" class="pcc-image-stamp-preview" data-pcc-image-stamp-preview>
        </div>
        <% } %>
    </div>

    <% if (data.mark.getType().match(/annotation/i)) { %>
    <div class="pcc-row">
        <div data-pcc-checkbox="includeInBurnedDocument" class="pcc-checkbox<% if (data.mark.getData('Accusoft-burnAnnotation')) { %> pcc-checked<% } %>">
            <span class="pcc-icon pcc-icon-check"></span>
            <label><%= data.includeInBurnedDocument %></label>
        </div>
    </div>
    <% } %>
</div>
