<div class='pcc-redaction-reason pcc-clearfix pcc-redaction-reason-edit'>
        <span class="pcc-redaction-reason-label"><%= language.redactionReasonApply %></span>
        <div class="pcc-redaction-reason-right">
            <button data-pcc-redaction-reason="done" class="pcc-icon pcc-icon-check" title="<%= language.doneButton %>"></button>
        </div>
        <div class="pcc-redaction-reason-input">
            <button data-pcc-redaction-reason="clear">&#215;</button>
            <input type="text" value="<%= customRedactionReason%>">
        </div>

</div>
